* {
    border-radius: 0.2em;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    color: #556;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: auto;
    min-width: 20em;
    padding: 0 10px;
}

@media (min-width: 50em) {
    body {
        width: 50em;
    }
}

header {
    border-bottom: 1px solid #dde;
    text-align: right;
}

.logo {
    float: left;
    font-size: 1.1em;
    text-decoration: none;
}

nav {
    text-align: right;
}

nav a {
    color: #556;
}

nav ul {
    list-style: none;
    margin: 10;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-left: 12px;
}

footer {
    border-top: 1px solid #dde;
    font-size: 0.8em;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

footer .social {
    float: left;
    font-size: 1.3em;
}

a {
    color: #07a;
    text-decoration: none;
}

a .fas, a .fab {
    color: #556;
}

a:hover .fas, a:hover .fab {
    color: #334;
}

h1 {
    font-size: 1.4em;
    font-weight: 400;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
}

strong {
    font-weight: 500;
}

sup {
    font-size: 0.7em;
}

ul {
    list-style-type: ' — ';
}

code {
    background-color: #fff0f9;
    color: #d05070;
    font-family: 'Roboto Mono', monospace;
    padding: 0 0.2em;
}

code.sourceCode {
    background-color: inherit;
    color: #369;
    padding: 0;
}

p {
    line-height: 1.4em;
}

article .header {
    color: #889;
    font-size: 0.8em;
    font-style: italic;
}

pre.sourceCode {
    background-color: #e0f0ff;
    font-size: 0.9em;
    padding: 10px;
}

.footnotes {
    font-size: 0.8em;
}

.footnotes hr {
    display: none;
}

.footnotes p {
    line-height: 1em;
}
