html {
    font-size: 18px;
}

body {
    color: #556;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    min-width: 20em;
    margin: auto;
    padding: 0 10px;
}

@media (min-width: 60em) {
    body {
        width: 50em;
    }
}

header {
    border-bottom: 1px solid #dde;
    text-align: right;
    font-weight: bolder;
}

.logo {
    float: left;
    font-size: 20px;
    text-decoration: none;
}

nav {
    text-align: right;
}

nav a {
    color: #556;
}

nav ul {
    list-style: none;
    margin: 10;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-left: 12px;
}

footer {
    border-top: 1px solid #dde;
    font-size: 14px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

footer .social {
    float: left;
    font-size: 20px;
}

a {
    color: #07a;
    text-decoration: none;
}

a .fas, a .fab {
    color: rgba(0, 0, 0, 0.6);
}

a:hover .fas, a:hover .fab {
    color: rgba(0, 0, 0, 1);
}

h1 {
    font-size: 24px;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
}

strong {
    font-weight: 500;
}

sup {
    font-size: 14px;
}

ul {
    list-style-type: ' — ';
}

code {
    background-color: #e0f0ff;
    color: #369;
    font-family: 'Roboto Mono', monospace;
}

p {
    line-height: 1.4em;
}

article .header {
    color: #889;
    font-size: 14px;
    font-style: italic;
}

pre.sourceCode {
    background-color: #e0f0ff;
    font-size: 16px;
    padding: 10px;
}

.footnotes {
    font-size: 14px;
}

.footnotes hr {
    display: none;
}

.footnotes p {
    line-height: 1em;
}
