/*
 * Default colors
 */

:root {
    --main-bg: #ffffff;
    --main-bg-dim: #ddddee;
    --main-fg: #555566;
    --main-fg-heavy: #333344;
    --main-fg-dim: #888899;
    --main-link: #0077aa;

    --well-bg: #f0f9fc;
    --well-fg: #336699;

    --verbatim-bg:#fff6fa;
    --verbatim-fg: #d05070;
    --verbatim-fg-dim: #ffcada;

    --source-default-fg: #336699;
    --source-comment-fg: #99aabb;
    --source-keyword-fg: #e45649;
    --source-variable-fg: #a626a4;
    --source-string-fg: #39a642;
    --source-expression-fg: #39a642;
    --source-type-fg: #a626a4;
    --source-attribute-fg: #986801;

    --todo-bg: #d9f9d9;
    --todo-fg: #66bb66;
}

/*
 * Dark colors
 */

:root[data-scheme="dark"] {
    --main-bg: #1e2029;
    --main-bg-dim: #a1a1b2;
    --main-fg: #e5e9f0;
    --main-fg-heavy: #f8f8f2;
    --main-fg-dim: #888899;
    --main-link: #5ac5f2;

    --well-bg: #3b4668;
    --well-fg: #f2f7ff;
    --well-fg-dim: #e5e9f0;

    --verbatim-bg: #511827;
    --verbatim-fg: #fff6fa;
    --verbatim-fg-dim: #802c45;

    --source-default-fg: #9ccdff;
    --source-comment-fg: #99aabb;
    --source-keyword-fg: #ff463d;
    --source-variable-fg: #ff42fc;
    --source-string-fg: #0fd537;
    --source-expression-fg: #0fd537;
    --source-type-fg: #ff42fc;
    --source-attribute-fg: #ffae00;
}

/*
 * (Duplicate :-( ) media dark colors
 */

@media (prefers-color-scheme: dark) {
    :root:not([data-scheme="light"]) {
        --main-bg: #1e2029;
        --main-bg-dim: #a1a1b2;
        --main-fg: #e5e9f0;
        --main-fg-heavy: #f8f8f2;
        --main-fg-dim: #888899;
        --main-link: #5ac5f2;

        --well-bg: #3b4668;
        --well-fg: #f2f7ff;
        --well-fg-dim: #e5e9f0;

        --verbatim-bg: #511827;
        --verbatim-fg: #fff6fa;
        --verbatim-fg-dim: #802c45;

        --source-default-fg: #9ccdff;
        --source-comment-fg: #99aabb;
        --source-keyword-fg: #ff463d;
        --source-variable-fg: #ff42fc;
        --source-string-fg: #0fd537;
        --source-expression-fg: #0fd537;
        --source-type-fg: #ff42fc;
        --source-attribute-fg: #ffae00;
    }
}

.hidden {
    display: none;
}

html {
    font-size: 16px;
}

@media (max-width: 25em) {
    html {
        font-size: 0.9em;
    }
}

body {
    background-color: var(--main-bg);
    box-sizing: border-box;
    color: var(--main-fg);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: auto;
    min-width: 25em;
    padding: 0 10px;
}

body.transitions * {
    transition:
        color .5s linear,
        background-color .5s linear;
}

main {
    overflow: auto;
}

blockquote {
    border-left: 0.2em solid var(--verbatim-fg-dim);
    padding-left: 1em;
    margin-left: 2em;
}

img.home-image {
    float: right;
    margin: 10px;
    width: 8em;
    height: 8em;
}

@media (max-width: 35em) {
    img.home-image {
        width: 3.5em;
        height: 3.5em;
    }
}

p iframe {
    height: 155px;
    width: 280px;
}

p img {
    width: 95%;
}

@media (min-width: 50em) {
    body {
        width: 50em;
    }

    p iframe {
        height: 315px;
        width: 560px;
    }
}

header {
    border-bottom: 1px solid var(--main-bg-dim);
    text-align: right;
}

.logo {
    float: left;
    font-size: 1.1em;
    text-decoration: none;
}

nav {
    text-align: right;
}

nav a {
    color: var(--main-fg-dim);
}

nav a:hover {
    color: var(--main-fg-heavy);
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 10;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-left: 12px;
}

nav button.theme {
    background: none;
    border: none;
    color: var(--main-fg-dim);
    margin-left: 1em;
    padding: none;
}

nav button.theme:hover {
    color: var(--main-fg);
    cursor: pointer;
}

footer {
    border-top: 1px solid var(--main-bg-dim);
    color: var(--main-fg-dim);
    font-size: 0.8em;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

footer .social {
    float: left;
    font-size: 1.3em;
}

.toc {
    background-color: var(--well-bg);
    border-radius: 5px;
    color: var(--main-link);
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 2em;
}

@media (min-width: 50em) {
    .toc {
        float: right;
        max-width: 50%;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 1em;
        margin-left: 1.5em;
    }
}

.toc ul {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 1em;
}

.toc > ul {
    padding-left: 0;
}

a {
    color: var(--main-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social > a {
    color: var(--main-fg-dim);
}

.social > a:hover {
    color: var(--main-fg-heavy);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

strong {
    font-weight: 500;
}

sup {
    font-size: 0.7em;
}

ul {
    list-style-type: ' — ';
}

code, pre {
    border-radius: 0.2em;
}

code {
    background-color: var(--verbatim-bg);
    color: var(--verbatim-fg);
    font-family: 'Roboto Mono', monospace;
    padding: 0 0.2em;
}

code a:hover {
    text-decoration: none;
}

code.sourceCode, .example code {
    background-color: inherit;
    color: var(--well-fg);
    padding: 0;
}

p {
    line-height: 1.4em;
}

p img, p iframe {
    display: block;
    margin: 0 auto;
}

article {
    text-align: justify;
    text-justify: auto;
}

article .header {
    color: var(--main-fg-dim);
    font-size: 0.8em;
    font-style: italic;
}

pre.sourceCode, pre.example {
    background-color: var(--well-bg);
    font-size: 0.9em;
    overflow: auto;
    padding: 10px;
}

.sourceCode .at { color: var(--source-attribute-fg); }
.sourceCode .co { color: var(--source-comment-fg); }
.sourceCode .dt { color: var(--source-type-fg); }
.sourceCode .dv { color: var(--source-type-fg); }
.sourceCode .ex { color: var(--source-expression-fg); }
.sourceCode .kw { color: var(--source-keyword-fg); }
.sourceCode .st { color: var(--source-string-fg); }
.sourceCode .va { color: var(--source-variable-fg); }
.sourceCode .cf { color: var(--source-default-fg); }
.sourceCode .fu { color: var(--source-default-fg); }
.sourceCode .ot { color: var(--source-default-fg); }
.sourceCode .op { color: var(--source-default-fg); }
.sourceCode .pp { color: var(--source-default-fg); }

.footnotes {
    font-size: 0.8em;
}

.footnotes hr {
    display: none;
}

.footnotes p {
    line-height: 1em;
}

.TODO {
    background-color: var(--todo-bg);
    color: var(--todo-fg);
    font-size: 80%;
    padding: 2px 5px;
}

.DONE {
    background-color: var(--main-bg-dim);
    color: var(--main-fg);
    font-size: 80%;
    padding: 2px 5px;
}
